body {
     background-color: #d1d1d1;
}

h2 {
     font-size: 2px;
}

.container {
     display: flex;
     justify-content: center;
     margin-top: 100px;
}

.row {
     width: 350px;
}

label {
     font-weight: bold;
}

input {
     margin-bottom: 10px;
}

.btn {
     margin-top: 20px;
     width: 100px;
     font-weight: bold;
}