* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
}

body {
     background-color: rgb(134, 175, 221);
}

html {
     overflow-x: hidden;
}

h1 {
     margin-bottom: 10px;
     font-weight: bold;
     font-size: 30px;
     margin-top: 40px;
     color: #000255;
}

.container {
     max-width: 1024px;
     width: 100%;
     margin: 40px 500px;
}

.form-campo {
     margin-bottom: 16px;
}

.form-campo label {
     font-weight: bold;
     display: block;
     margin-bottom: 5px;
     font-size: 16px;
     color: #000255;
}

.form-campo input {
     width: 100%;
     display: block;
     padding: 8px;
     border-radius: 6px;
     border-style: none;
}

form {
     max-width: 315px;
}

form button {
     max-width: 120px;
     display: block;
     width: 100%;
     padding: 8px 0;
     border: none;
     background-color: #0259a0;
     color: #fff;
     font-size: 16px;
     font-weight: bold;
     font-style: italic;
     cursor: pointer;
     border-radius: 6px;
     margin: 20px auto;
}

form button:hover {
     background-color: blue;
}